// Layout base
:host {
  display: block;
}

.wrapper {
  width: 100%;
  padding-left: var(--cui-sidebar-occupy-start, 0);
  will-change: auto;
  transition: padding .15s;
}

.header {
  min-height: 4rem;
}

.body {
  background: var(--cui-body-bg);
}

.sidebar-toggler {
  width: 100%;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  border: 0;
  background: transparent;
}

c-sidebar-footer {
  height: 48px;
  min-height: 48px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Evita que o nav fique comprimido e suma com itens finais
c-sidebar-nav {
  display: block;
  padding-bottom: .75rem;
}
