<c-container fluid>
  <button [cSidebarToggle]="sidebarId" cHeaderToggler class="ps-1">
    <svg cIcon name="cilMenu" size="lg"></svg>
  </button>

  <c-header-nav class="d-none d-md-flex me-auto">
    <c-nav-item>
      <a cNavLink routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </c-nav-item>
  </c-header-nav>

  <c-header-nav class="ms-auto ms-md-0">
    <c-nav-item>
      <c-dropdown alignment="end" variant="nav-item">
        <button cDropdownToggle class="py-0 pe-0" color="link">
          <c-avatar color="primary" textColor="white" size="md">
            {{ iniciaisUsuario }}
          </c-avatar>
        </button>

        <ul cDropdownMenu class="pt-0 w-auto">
          <li>
            <h6 cDropdownHeader class="bg-light fw-semibold py-2">
              {{ nomeUsuario }}
              <span class="d-block small text-body-secondary fw-normal">{{ perfilUsuario }}</span>
            </h6>
          </li>

          <li>
            <a cDropdownItem routerLink="/perfil">
              <svg cIcon name="cilUser" class="me-2"></svg>
              Meu Perfil
            </a>
          </li>

          <li>
            <a cDropdownItem routerLink="/alterar-senha">
              <svg cIcon name="cilLockLocked" class="me-2"></svg>
              Alterar Senha
            </a>
          </li>

          <li><hr cDropdownDivider /></li>

          <li>
            <button cDropdownItem type="button" (click)="sair()">
              <svg cIcon name="cilAccountLogout" class="me-2"></svg>
              Sair
            </button>
          </li>
        </ul>
      </c-dropdown>
    </c-nav-item>
  </c-header-nav>
</c-container>

<c-container fluid>
  <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
</c-container>
